<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<br />
<br />
<p>
  Splurty was built by Beaudine den Dunnen.
</p>
<br />
<p>
  Her goal is to give everyone the motivation to accomplish their goals.
  Splurty's motivational quotes will get you out of bed and on your grind in no time!
</p>

<br />

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.JPG', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Beaudine den Dunnen</h2>
    <br />
    <p>
      Beaudine den Dunnen is studying to become a data scientist.
    </p>
    <br />
    <p>
      With a background in politics, Psychology, Law and Economics she is broadly
      trained in various disciplines.
      Beaudine is currently working as an assisting consultant.
    </p>
  </div>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
